h1 {
  display: grid;
  place-items: center;
}

#main {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.buttons {
  display: grid;
  width: clamp(250px, 25vw, 500px);
  height: clamp(250px, 25vw, 500px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  align-self: center;
  justify-self: end;
}
